<div class = "pokemonListComponentContainer">
    <div class= "buildTradeContainer">
        <div class="pokemonListContainer">
            <div class="pokemonListHeaderContainer">
                <p-dropdown
                    [options]="pokemons" 
                    [(ngModel)]="selectedPokemonName1" 
                    optionLabel="name" 
                    optionValue="name" 
                    [filter]=true placeholder="Select Pokemon" 
                    [maxlength]=200 filterPlaceholder="Search" 
                    [showTransitionOptions]="'200ms'" 
                    [hideTransitionOptions]="'200ms'" 
                    emptyFilterMessage="Not Found">
                </p-dropdown>
    
                <button class="addPokemonToListButton" pButton type="button" 
                    icon="pi pi-plus" 
                    class="p-button-raised p-button-rounded p-button-text" 
                    (click)="addPokemonToTrade(selectedPokemonName1, 1)"
                    style="left:5px;">
                </button>
            </div>
            
    
            <div class="tradeListContainer">
                <p-table class="pokemonTable" [value]="pokeListTest1" [autoLayout]="true">
                    <ng-template pTemplate="caption">
                        Pokemons in Trade
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Index</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-pokemon>
                        <tr>
                            <td>{{ pokemon.index }}</td>
                            <td>{{ pokemon.name }}</td>
                            <div *ngIf="pokemon.name"><button pButton type="button" icon="pi pi-times" class="p-button-text" (click)="removePokemonFromTrade(1, pokemon.name, pokemon.index)"></button></div>
                            
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    
    
        <div class="pokemonListContainer">
            <div class="pokemonListHeaderContainer">
                <p-dropdown
                    [options]="pokemons" 
                    [(ngModel)]="selectedPokemonName2" 
                    optionLabel="name" 
                    optionValue="name" 
                    [filter]=true placeholder="Select Pokemon" 
                    [maxlength]=200 filterPlaceholder="Search" 
                    [showTransitionOptions]="'200ms'" 
                    [hideTransitionOptions]="'200ms'" 
                    emptyFilterMessage="Not Found">
                </p-dropdown>
    
                <button class="addPokemonToListButton" pButton type="button" 
                    icon="pi pi-plus" 
                    class="p-button-raised p-button-rounded p-button-text" 
                    (click)="addPokemonToTrade(selectedPokemonName2, 2)"
                    style="left:5px;">
                </button>
            </div>
            
            <div class="tradeListContainer">
                <p-table class="pokemonTable" [value]="pokeListTest2" [autoLayout]="true">
                    <ng-template pTemplate="caption">
                        Pokemons in Trade
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Index</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-pokemon>
                        <tr>
                            <td>{{ pokemon.index }}</td>
                            <td>{{ pokemon.name }}</td>
                            <div *ngIf="pokemon.name"><button pButton type="button" icon="pi pi-times" class="p-button-text" (click)="removePokemonFromTrade(2, pokemon.name, pokemon.index)"></button></div>
                            
                        </tr>
                    </ng-template>
                </p-table>
            </div>       
        </div>
    </div>
    
    <div class= "saveTradeListButtonContainer">
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText [(ngModel)]="trainerName"> 
            <label for="float-input">Trainer</label>
        </span>
        <button class="saveTradeListButton" pButton type="button" 
            icon="pi pi-save" 
            class="p-button-raised p-button-rounded p-button-text" 
            (click)="saveTradeList(trainerName)"
            style="left:5px;">
        </button>
        <p-toast></p-toast>
    </div>  
    
    <div class="tradeResultsContainer">
        <p-table class="resultTable" [value]="resultList" [scrollable]="true" sortField="id" [sortOrder]="-1" scrollHeight="200px" [autoLayout]="true" styleClass="p-datatable-sm p-datatable-gridlines">
            <ng-template pTemplate="caption">
                List of saved Trades
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Username</th>
                    <th>Pokemons</th>
                    <th>Difference & Verdict</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-result>
                <tr>
                    <td>{{ result.userName }}</td>
                    <td>{{ result.firstList }} traded with {{ result.secondList }}</td>
                    <td>{{ result.expDifference }} experience difference, that's a {{ result.verdict }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>




