.pokemonListComponentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-family: "PokemonGb";
}


.buildTradeContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 96%;
    max-width: 800px;
    padding: 30px;
    flex-wrap: wrap;
}

.pokemonListContainer{
    display: flex;
    flex-direction: column;
}

.pokemonListHeaderContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.saveTradeListButtonContainer{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.tradeResultsContainer{
    display: flex;
    justify-content: center;
    width: 96%;
    max-width: 800px;
    word-wrap: break-word;
}

.p-button-text{
    height: 1px;
}
.resultDescription, .pokemonListDescription, .tradeHistoryCaption, .p-float-label{
    font-family: "PokemonGb";
    font-size: 12px;
}


@font-face {
    font-family: "PokemonGb";
    src: local("PokemonGb"), url(../../../assets/fonts/PokemonGb-RAeo.ttf) format("truetype");
    font-size: 8px;
}
.tradeListContainer{
    word-wrap: break-word;
    max-width: 310px;
}

.crop {
    width: 25px;
    height: 45px;
}

.crop img {
    margin-top: -20px;
    margin-bottom: -20px;
    margin-right: -50px;
    margin-left: -35px;
}

.actionButtonsContainer{
    padding: 10px;
}

