
<div class = "pokemonListComponentContainer">
    <div class= "buildTradeContainer">
        <div class="pokemonListContainer">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText [(ngModel)]="trainerName1"> 
                <label for="float-input">Trainer 1</label>
            </span>
            <div class="pokemonListHeaderContainer">
                <p-dropdown
                    [options]="pokemonNames" 
                    [(ngModel)]="selectedPokemonName1" 
                    optionLabel="name" 
                    optionValue="name" 
                    [filter]=true placeholder="Select Pokemon" 
                    [maxlength]=200 filterPlaceholder="Search" 
                    [showTransitionOptions]="'200ms'" 
                    [hideTransitionOptions]="'200ms'" 
                    emptyFilterMessage="Not Found">
                </p-dropdown>
    
                <button class="addPokemonToListButton" pButton type="button" 
                    icon="pi pi-plus" 
                    class="p-button-raised p-button-rounded p-button-text" 
                    (click)="addPokemonToTradeList(selectedPokemonName1, 1)"
                    style="left:5px;">
                </button>
            </div>
            
    
            <div class="tradeListContainer">
                <p-table class="pokemonTable" [value]="pokemonTradeList1" 
                [autoLayout]="true" styleClass="p-datatable-responsive-demo">
                    <ng-template pTemplate="header">
                        <tr class="pokemonListDescription">
                            <th>Name</th>
                            <th>Exp</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-pokemon>
                        <tr>
                            <td>{{ pokemon.name }}</td>
                            <td>{{ pokemon.base_experience }}</td>
                            <td>
                                <div class="crop">
                                    <img [src]="pokemon.sprites.front_default">
                                </div>
                            </td>
                            <td>
                                <div *ngIf="pokemon.name"><button pButton 
                                    type="button" icon="pi pi-times" class="p-button-text" 
                                    (click)="removePokemonFromTrade(1, pokemon.indexNumber)"></button>
                                </div>
                            </td>
                            
                        </tr>
                    </ng-template>
                </p-table>       
            </div>
        </div>
    
    
        <div class="pokemonListContainer">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText [(ngModel)]="trainerName2"> 
                <label for="float-input">Trainer 2</label>
            </span>
            <div class="pokemonListHeaderContainer">
                <p-dropdown
                    [options]="pokemonNames" 
                    [(ngModel)]="selectedPokemonName2" 
                    optionLabel="name" 
                    optionValue="name" 
                    [filter]=true placeholder="Select Pokemon" 
                    [maxlength]=200 filterPlaceholder="Search" 
                    [showTransitionOptions]="'200ms'" 
                    [hideTransitionOptions]="'200ms'" 
                    emptyFilterMessage="Not Found">
                </p-dropdown>
    
                <button class="addPokemonToListButton" pButton type="button" 
                    icon="pi pi-plus" 
                    class="p-button-raised p-button-rounded p-button-text" 
                    (click)="addPokemonToTradeList(selectedPokemonName2, 2)"
                    style="left:5px;">
                </button>
            </div>
            
            <div class="tradeListContainer">
                <p-table class="pokemonTable" [value]="pokemonTradeList2" [autoLayout]="true">
                    <ng-template pTemplate="header">
                        <tr class="pokemonListDescription">
                            <th>Name</th>
                            <th>Exp</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-pokemon>
                        <tr>
                            <td>{{ pokemon.name }}</td>
                            <td>{{ pokemon.base_experience }}</td>
                            <td>
                                <div class="crop">
                                    <img [src]="pokemon.sprites.front_default">
                                </div>
                            </td>
                            <td>
                                <div *ngIf="pokemon.name"><button pButton 
                                    type="button" icon="pi pi-times" class="p-button-text" 
                                    (click)="removePokemonFromTrade(2, pokemon.indexNumber)"></button>
                                </div>
                            </td>
                            
                        </tr>
                    </ng-template>
                </p-table>
            </div>       
        </div>
    </div>
    
    <div class= "actionButtonsContainer">
        <span class="p-buttonset">
            <button pButton type="button" label="Check Trade" 
            icon="pi pi-check" (click)="saveTradeList(trainerName1, trainerName2)"  
            class="p-button-raised p-button-rounded p-button-outlined"></button>
            <button pButton type="button" label="Clear Lists" 
            icon="pi pi-trash" (click)="clearTradeList()"  
            class="p-button-raised p-button-rounded p-button-outlined"></button>
        </span>
        
    </div>  
    
    <div class="tradeResultsContainer">
        <p-table class="resultTable" [value]="resultList" 
        [scrollable]="true" sortField="id" [sortOrder]="-1" 
        scrollHeight="200px" [autoLayout]="true" 
        styleClass="p-datatable-sm p-datatable-gridlines">
        <ng-template pTemplate="caption" >
            <div class="tradeHistoryCaption">
                Trade History
            </div>
        </ng-template>
            <ng-template pTemplate="header">
                <tr class="resultDescription">
                    <th>Username</th>
                    <th>Pokemons</th>
                    <th>Difference & Verdict</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-result>
                <tr >
                    <td >{{ result.userNameOne }} traded with {{ result.userNameTwo }}</td>
                    <td>{{ result.firstList }} traded for {{ result.secondList }}</td>
                    <td>{{ result.expDifference }} experience difference, that's a {{ result.verdict }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    
</div>
<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>



